<!-- Page Content -->
<!-- <div class="container-fluid p-0"> -->
<!-- About -->
<!-- <section id="about" class="resume-section">
    <div class="resume-section-content">
      <h1 class="mb-0">
        <span class="text-name">Aziz</span>
      </h1>
      <div class="subheading mb-5">
        New York, US - (000) 000-0000
        <a href="mailto:azizahmed.dev@gmail.com">azizahmed.dev@gmail.com</a>
      </div>
      <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi pariatur, eaque ipsam modi hic
        laboriosam id quam debitis dolore rerum recusandae magni cumque quae maxime fugit dicta! Magni praesentium
        laboriosam quae laborum ipsum cumque labore accusamus consequatur sunt corporis cupiditate quos officiis,
        repellat tempore voluptate quam debitis aspernatur tenetur facere eum illo quasi! Hic perferendis consequuntur.
      </p>
      <div class="social-icons">
        <a href="#" class="social-icon">

        </a>
      </div>
    </div>
  </section>
  <hr class="m-0">

  <section id="experience" class="resume-section">
    <div class="resume-section-content">
      <h2 class="mb-5">Experience</h2>
    </div>
  </section>
  <hr class="m-0">

  <section id="education" class="resume-section"></section>
  <hr class="m-0">

  <section id="skills" class="resume-section">

  </section> -->

<!-- </div> -->

<!-- Page Content -->
<div class="container-fluid p-0">
  <!-- About -->
  <section id="about" class="resume-section">
    <div class="resume-section-content">
      <h1 class="mb-0">
        <span class="text-name">Aziz</span>
      </h1>
      <div class="subheading mb-5">
        New York, US - (000) 000-0000
        <a href="mailto:azizahmed.dev@gmail.com">aziz.tech80@gmail.com</a>
      </div>
      <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi pariatur, eaque ipsam modi hic
        laboriosam id quam debitis dolore rerum recusandae magni cumque quae maxime fugit dicta! Magni praesentium
        laboriosam quae laborum ipsum cumque labore accusamus consequatur sunt corporis cupiditate quos officiis,
        repellat tempore voluptate quam debitis aspernatur tenetur facere eum illo quasi! Hic perferendis consequuntur.
      </p>
      <div class="social-icons">
        <a href="#" class="social-icon">

        </a>
      </div>
    </div>
  </section>
  <hr class="m-0">

  <section id="experience" class="resume-section">
    <div class="resume-section-content">
      <h2 class="mb-5">Experience</h2>
    </div>
  </section>
  <hr class="m-0">

  <section id="education" class="resume-section"></section>
  <hr class="m-0">

  <section id="skills" class="resume-section">

  </section>

</div>